@page "/"
@using NodaTime
@inject TzAndCountryInfo _db

<div class="container mt-5">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <h3 class="text-center">Welcome to Time Zone Picker</h3>
            <div class="mb-3">
                <label class="form-label">Country</label>
                <select @bind="SelectedCountry" class="form-control">
                    <option value="">Select country</option>
                    @foreach (var country in Countries)
                    {
                        <option value="@country.Code">@country.Name</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                @if (string.IsNullOrEmpty(SelectedCountry))
                {
                    SelectedZone = null;
                    <label class="form-label">Time Zone</label>
                    <select class="form-control" disabled>
                    </select>
                }
                else
                {
                    var zonesOfSelectedCountry = AllZones.Where(z => z.CountryCode == SelectedCountry);
                    var numOfZones = zonesOfSelectedCountry.Count();
                    if (numOfZones == 1)
                    {
                        var zone = zonesOfSelectedCountry.ElementAt(0);
                        SelectedZone = zone.Id;
                        <label class="form-label">Time Zone</label>
                        <select class="form-control" disabled>
                            <option value="@zone.Id">@GetTime(zone.Id) - @zone.DisplayName</option>
                        </select>

                        <p class="text-success">Selected country only has one time zone, you're all set!</p>
                    }
                    else if (numOfZones > 1)
                    {
                        if (!zonesOfSelectedCountry.Any(z => z.Id == SelectedZone))
                        {
                            SelectedZone = null;
                        }
                        <label class="form-label">Time Zone</label>
                        <select @bind="SelectedZone" class="form-control">
                            <option>Select time zone</option>
                            @foreach (var zone in zonesOfSelectedCountry)
                            {
                                <option value="@zone.Id">@GetTime(zone.Id) - @zone.DisplayName</option>
                            }
                        </select>
                    }
                    else
                    {
                        <p class="text-danger">Uhhh... well that's weird! Sorry, no time zones found for this country.</p>
                    }
                }
            </div>

            <p>
                <span class="text-muted">Your time zone ID is: </span><span class="fw-bold text-success">@SelectedZone</span>
            </p>
        </div>
    </div>
</div>

@code {
    IEnumerable<CountryItem> Countries = new List<CountryItem>();
    IEnumerable<TimeZoneItem> AllZones = new List<TimeZoneItem>();

    string SelectedCountry { get; set; }
    string SelectedZone { get; set; }
    SystemClock systemClock = SystemClock.Instance;

    protected override async Task OnInitializedAsync()
    {
        Countries = _db.Countries;
        AllZones = _db.TimeZones;

        //the first country selection causes some lag
        //this dummy selection gets the lag out of the way
        //before the user has a chance to interact with the app
        SelectedCountry = "ZW";
        await Task.Delay(1);
        SelectedCountry = null;
    }

    string GetTime(string zoneId)
    {
        var nowInZone = systemClock.GetCurrentInstant().InZone(DateTimeZoneProviders.Tzdb[zoneId]);
        return nowInZone.ToString("(hh:mm tt)", null);
    }
}